@import url('https://fonts.googleapis.com/css2?family=Jua&family=Parkinsans:wght@300..800&display=swap');

.en {
    font-family: "Parkinsans", sans-serif;
}

.ko {
    font-family: "Jua", sans-serif;
}

body {
    background-color: white;
}

.header {
    background-color: white;
}

.topheader {
    padding: 10px 40px;
    font-size: 3rem;
    box-shadow: -3px 10px 50px #e5e5e5;
}

.bottomheaderleft {
    float: left;
    padding: 50px 40px;
    font-size: 25px;
}

.bottomheaderright {
    float: right;
    padding: 50px 40px;
    font-size: 25px;
}

.box {
    float: left;
    padding: 15px;
    text-decoration: none;
}

.bigbox {
    padding: 10px 10px 10px 10px;
    height: 180px;
    width: 100%;
    box-shadow: -3px 10px 50px #e5e5e5;

}

.trunk {
    background: url(./media/숲.png) no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100vh;
    color: #ffe6a7;
    font-size: 150px;
    position: relative;
}

.trunk div p {
    position: absolute;
    margin-top: 10%;
}

a{
    text-decoration: none;
    color: black;
}
