@import url('https://fonts.googleapis.com/css2?family=Jua&family=Parkinsans:wght@300..800&display=swap');

.en {
    font-family: "Parkinsans", sans-serif;
}

.ko {
    font-family: "Jua", sans-serif;
}

body {
    background-color: white;
}

.header {
    background-color: white;
}

.topheader {
    padding: 10px 40px;
    font-size: 3rem;
    box-shadow: -3px 10px 50px #e5e5e5;
}

.bottomheaderleft {
    float: left;
    padding: 50px 40px;
    font-size: 25px;
}

.bottomheaderright {
    float: right;
    padding: 50px 40px;
    font-size: 25px;
}

.box {
    float: left;
    padding: 15px;
    text-decoration: none;
}

.bigbox {
    padding: 10px 10px 10px 10px;
    height: 180px;
    box-shadow: -3px 10px 50px #e5e5e5;

}

a{
    text-decoration: none;
    color: black;
}

.footer {
    background-color: #ffe6a7;
    padding: 10px;
    text-align: center;
}
